<!DOCTYPE html>
<html>

<head>
    <title>View Engine Demo</title>
</head>

<body>

    <h1>List of Users</h1>

    <ul>
        <% for(var user of result){ %>
            <li>
                <span><%= user.firstName %></span>
                <span> | </span>
                <span><%= user.lastName %></span>
                <span> | </span>
                <span><%= user.email %></span>
                <span> | </span>
                <span><%= user.screenName %></span>
            </li>
        <% } %>
    </ul>

</body>

</html>